.add-blog{
    margin: 5px 5px;
    padding: 10px;
    /* height: 10vh; */
}
.add-blog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-blog form input, textarea{
    width: 60%;
    /* height: 10vh; */
    margin-bottom: 10px;
}